.header {
    height: 740px;
    background-image: url(../img/moun.jpg);
    background-size: cover; /*Масштабирует изображение как можно больше 
    c сохранением пропорций изображения (изображение не становится сплющенным)*/
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;/*расположение всех элементов по центру*/
    background-attachment: fixed;/*Фон фиксируется относительно области просмотра. 
    Даже если элемент имеет механизм прокрутки, фон не перемещается вместе с элементом*/
    background-color: rgb(2, 2, 2);
    opacity: 0.9;/*управляет прозрачностью(0-полностью прозрачный, 1-полностью непрозрачен*/
}


.menu {
    padding-top: 30px;
    padding-bottom: 80px;
    color: #2d2c2c;
    font-size: 20px;
    font-family: 'Lora', serif;
    letter-spacing: 1.5px;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding-top: 10px;
    color: #2d2c2c;
}

.text-small{
    padding: 24px 0 38px 0;
    letter-spacing: 1.5px;
    color: #2d2c2c;
    font-family: 'Lora', serif;     
    font-size: 22px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header li {
    display: inline; /*выравниваем ссылки по строке*/
    margin-left: 60px;
    color: rgb(2, 2, 2);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* контекстный селектор: */
.menu a {
    /* применяем только к тегам а внутри меню, вложенность не имеет значения*/
    text-decoration: none;
    /* убираем подчеркивания */
    color: rgb(14, 14, 14);
    /* цвет ссылок */
    font-weight: bold;
    /* жирность начертания ссылок*/
}


.w-50 {
    width: 50%;
}

.mx-auto {
    margin: auto;
}

/* картинка и текст 1 */

.main{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;;
}


.h2{
    font-size: 20px;
}

.article-1{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 10px;
    align-items: center;
    gap: 10px;
}

.img{
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
}

.article-1>img-1{
    padding-top: 20px;
}

.footer{
    background-color: black;
    color: aliceblue;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.item{
    padding-top: 10px;
}

.tcontainer {

    padding: 30px;
    font-family: 'Montserrat',sans-serif;
    
} 

table {
    width: 800px;
    box-shadow: 0 0 20px rgba(57, 43, 70, 0.1);
}

th,
td{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #2d2c2c;
}

th {
    text-align: left;
}

