{% macro form_user(user, roles) %}
<form method="POST">
    <div class="mb-3">
        <input type="text" class="form-control {{ 'is-invalid' if error_login else '' }}" id="login" aria-describedby="loginHelp" placeholder="Логин" name="login" value="{{ user.login or '' }}" required>
        {% if error_login %}
        <div class="invalid-feedback">{{ error_login }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <input type="password" class="form-control {{ 'is-invalid' if error_passwd else '' }}" id="password" placeholder="Пароль" name="password" required>
        {% if error_passwd %}
        <div class="invalid-feedback">{{ error_passwd }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="first_name" placeholder="Имя" name="first_name" value="{{ user.first_name or '' }}" required>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="last_name" placeholder="Фамилия" name="last_name" value="{{ user.last_name or '' }}" required>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="middle_name" placeholder="Отчество" name="middle_name" value="{{ user.middle_name or '' }}">
    </div>

    <div class="mb-3">
        <label for="role">Роль</label>
        <select class="form-select" name="role_id" id="role" required>
            {% for role in roles %}
            <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>
{% endmacro %}
