.liat{
    list-style-type: none;
    display: inline;
    padding: 20px;
    color: aliceblue;
}

.body{
    font-family: 'Montserrat', sans-serif;
}

.menu-area{
    background-color: #5b1339;
}

.slide{
    background-image: url(https://telegra.ph/file/171ac66c556b3b9a6759c.jpg);
    width: 100%;
    background-size: cover;
    height: 748px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.slide-caption{
    background-color: rgba(131, 97, 138, 0.8);
    border-radius: 10px;
    position: absolute;
    top: 40%;
}

.pt-50 {
    padding-top: 50px;
}

.pb-90 {
    padding-bottom: 90px;
}

 .mb-30 {
     margin-bottom: 30px;
 }

.title {
    letter-spacing: 1.1px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Rethink Sans', sans-serif;
}
.item {
    padding: 40px;
    box-shadow: 0px 3px 20px 0px rgb(47 46 43);
    position: relative;
    border-radius: 8px;
}

.p {
    font-size: 16px;
    font-weight: normal;
    color: #636363;
    margin-bottom: 15px;
    line-height: 26px;
    letter-spacing: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left; 
    color: #ffffff;
}

th {
    background-color: #98ff98;
    color: #000000;
    
}

tr{
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.main{
    background-color: #5b1339;
    background: linear-gradient(#5b1339, pink, #146853);
}

.plus{
    background-color: #fdf4e3;
}
/* 
.ways{
    background-color: #146853;
    background: linear-gradient(pink, #146853);
} */

header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.list-attractions{
    background-color: #d9c4ab; 
    color: #36545B;
}

.search-attractions{
    margin-left: 15px;
}
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* Находится над всем другим */
    overflow: auto; /* Включить прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.4); /* Также добавляет прозрачность */
  }
  
  /* Содержимое модального окна */
  .modal-content {
    background-color:#5b1339;
    margin: 15% auto; /* 15% от верха и выровнено по центру */
    padding: 20px;
  }

  .btn-make-excurtion-request{
    background-color: #98ff98;
    /* color: #36545B; */
  }

  .content_modal{
    float: none;
    margin: auto;
  }

.footer {
    background: #0e0d0d;
    padding: 30px 0px;
    text-align: center;
}

.footer .rowd {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
}

.footer .rowd a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .rowd a:hover {
    color: #fff;
}

.footer .rowd ul {
    width: 100%;
}

.footer .rowd ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .rowd a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .rowd ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .rowd a i {
        margin: 0% 3%;
    }
}