html,
body {
    height: 100%;
    background-color: rgb(246, 186, 239);
}

body {
    font-family: 'Tektur';
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main {
    margin: 77px 12.5% 0 12.5%;
}

header {
    flex: 0 0 auto;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

header nav {
    width: 100%;
    background-color: black;
    height: 60px;
    position: fixed;
    z-index: 2;
    left: 0;
    padding: 0 12.5%;
}

header ul {
    margin: 0px;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    column-gap: 10px;
}

.header-style li {
    padding: 20px 5px;
}

.header-style li:last-child {
    margin-right: 0px;
}

.header-style {
    background-color: black;
    color: white;
}

.header-style h1 {
    margin-top: 0px;
}

.main a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#active {
    background-color: white;
}

#active a {
    color: black;
}

.container {
    margin: 0% auto;
    max-width: 75%;
}

.footer {
    flex: 0 0 auto;
    background-color: black;
    color: white;
    margin-top: 20px;
}

.Post {
    margin-top: 15px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.Post p {
    padding: 5px;
}

.userCard {
    padding: 5px;
    background-color: black;
    color: white;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

#activePage {
    background-color: white;
    color: black;
}

#activePage:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.pageButton {
    font-family: 'Tektur';
    width: 40px;
    margin-right: 5px;
}

.pagination button {
    font-family: 'Tektur';
    border-radius: 10px;
    height: 40px;
    background-color: #ffffff;
    /* фон кнопок */
    color: #ffffff;
    /* текст на кнопках */
    box-sizing: border-box;
    border: 1px solid #ffffff;
    /* граница кнопок */
}

.pagination button:hover {
    background-color: #000000;
    /* Изменение цвета при наведении на кнопку */
}

/* Стили для формы поиска */
.search-form {
    display: flex;
    margin-bottom: 15px;
    position: relative;
}

.search-form input {
    height: 40px;
    width: 100%;
    font-size: 25px;
    box-sizing: border-box;
}

.search-form button {
    font-family: 'Tektur';
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 25px;
}

.search-form button:hover {
    background-color: rgba(72, 8, 162, 0.275);
}

.lines {
    top: 35px;
    margin-right: 85px;
    width: calc(100% - 85px);
    position: absolute;
    box-sizing: border-box;
    border: 5px solid black;
    border-top: none;
    z-index: 5;
    background-color: rgb(237, 154, 228);
}

.lines p {
    font-size: 25px;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.lines p:hover {
    background-color: black;
    color: white;
    cursor: default;
}

#hidden {
    display: none;
}