{% extends 'base.html' %} {% block content %}
<h1 class="mt-3 text-center">Об авторе</h1>
<div class="row">
  <div class="col-md-4 mb-3">
    <img
      class="avatar"
      src="{{ url_for('static', filename='images/avatar.jpg') }}"
      alt="Author"
    />
  </div>
  <div class="col-md-8 text-justify d-flex align-items-center">
    <p>
      Автор этого сайта - талантливый и креативный человек, который с огромной
      страстью и любовью создает удивительный контент для своих читателей. Его
      умение сочетать информативность с увлекательностью делает его материалы не
      только полезными, но и увлекательными для всех, кто заходит на его
      страницу. Благодаря его труду и преданности своему делу, этот автор стал
      настоящим экспертом в своей области и непременно заслуживает признание и
      уважение своей аудитории.
    </p>
  </div>
</div>
{% endblock %}
