* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #11f185, #196af5);
    font-size: 12px;
}

.calculator {
    width: 470px;
    height: auto;
    background-color: black;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.display {
    color: white;
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
    word-wrap: break-word;
}

.display input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-align: right;
    border: none;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: none;
    color: white;
    border-radius: 50px;
    padding: 28px 30px;
    width: 22%;
    margin: 10px 6px;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.372);
}

.zero-btn {
    padding: 30px 190px 26px 20px;
}

.btn-orange {
    background-color: orange;
}

.btn-grey {
    background-color: grey;
}
